# ~/.gitconfig

[alias]
  h = log --cherry-pick --graph --left-right --oneline
  ha = log --all --cherry-pick --graph --left-right --oneline
  l = log --graph
  la = log --all --graph
  s = ! "git log|awk '$1~/git-subtree-dir/{print $2}'"
[core]
  abbrev = 7
[include]
  path = ~/.gitconfig.inc
[init]
  defaultBranch = master
[log]
  abbrevcommit = yes
[pull]
  rebase = false
# diff
#
[diff]
  tool = intellij
[difftool]
  prompt = false
[difftool "intellij"]
  cmd = idea diff \
  $(cd $(dirname "${LOCAL}") && pwd)/$(basename "${LOCAL}") \
  $(cd $(dirname "${REMOTE}") && pwd)/$(basename "${REMOTE}")
# merge
#
[merge]
  tool = intellij
[mergetool]
  prompt = false
[mergetool "intellij"]
  cmd = idea merge \
  $(cd $(dirname "${LOCAL}") && pwd)/$(basename "${LOCAL}") \
  $(cd $(dirname "${REMOTE}") && pwd)/$(basename "${REMOTE}") \
  $(cd $(dirname "${BASE}") && pwd)/$(basename "${BASE}") \
  $(cd $(dirname "${MERGED}") && pwd)/$(basename "${MERGED}")
  trustExitCode = true
